version: '3'

services:

  node:
    build:
      context: node
      dockerfile: Dockerfile.prod
    networks:
      - node-network
    volumes:
      - ./node:/user/src/app
    # entrypoint: dockerize -wait tcp://db:3306 -timeout 20s docker-entrypoint.sh
    tty: true
    container_name: node
    ports:
      - "3000:3000"
    depends_on:
      - db
  
  db:
    image: mysql:5.7
    command: --innodb-use-native-aio=0
    restart: always
    tty: true
    volumes:
      - ./mysql:/var/lib/mysql
    environment:
      - MYSQL_DATABASE=nodedb
      - MYSQL_ROOT_PASSWORD=root
    networks:
      - node-network

  nginx:
    build:
      context: nginx
      dockerfile: Dockerfile.prod
    tty: true
    container_name: nginx
    networks:
      - node-network
    ports:
      - "8080:80"
    depends_on:
      - node
    restart:
      always

networks:
  node-network:
    driver:
      bridge